<section class="bg-img cover-background" data-overlay-dark="55" data-background="/img/banner/banner-01.jpg">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6 mb-5 mb-lg-0">
                <div class="mb-1-9">
                    <h1 class="text-white display-18 display-sm-16 display-md-12 display-lg-9 text-shadow">We execute our thoughts from begin to finish</h1>
                </div>
                <p class="mb-2-2 w-85 text-white display-28 text-shadow">Organization offer remarkable support through cooperation which is reflected in the nature of our outcomes.</p>
                <a href="#!" class="butn">Get started</a>
            </div>
            <div class="col-xl-5 col-lg-6">

                <div class="banner-form pl-lg-6">

                    <div class="rounded-top bg-light text-center p-3 font-weight-600">
                        Request a <strong class="text-primary">FREE</strong> quote today
                    </div>

                    <!-- start form here -->

                    <form class="quform" action="quform/contact.php" method="post" enctype="multipart/form-data" onclick="">

                        <div class="banner-form-spacer">
                            <div class="quform-elements">

                                <div class="row">

                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input class="form-control" id="name" type="text" name="name" placeholder="Your name here" required />
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Text input element -->
                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input class="form-control" id="email" type="text" name="email" placeholder="Your email here" required />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->
                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input class="form-control" id="phone" type="text" name="phone" placeholder="Your phone here" />
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Text input element -->
                                    <!-- Begin Captcha element -->
                                    <div class="col-md-12">
                                        <div class="quform-element">
                                            <div class="form-group">
                                                <div class="quform-input">
                                                    <input class="form-control" id="type_the_word" type="text" name="type_the_word" placeholder="Type the below word" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="quform-captcha">
                                                    <div class="quform-captcha-inner">
                                                        <img src="/quform/images/captcha/courier-new-light.png" alt="...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Captcha element -->
                                    <!-- Begin Submit button -->
                                    <div class="col-md-12 buttons-set">
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        <div class="quform-submit-inner">
                                            <button class="butn btn-block" type="submit"><span>Request a Quote</span></button>
                                        </div>
                                    </div>
                                    <!-- End Submit button -->

                                </div>

                            </div>
                        </div>

                    </form>

                    <!-- end form here -->

                </div>

            </div>
        </div>
    </div>

</section>